* {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}
/*main parts of the website*/
body {
    background-color: #191970;
}

header{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #235aa2;
}

main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.productenMain{
    width: 100%;
    height: 700px;
}

.overmij{
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: row;
}

.bodyovermij{
    background: rgb(0,32,63);
    background: linear-gradient(110deg, rgba(0,32,63,1) 0%, rgba(0,32,63,1) 48%, rgba(173,239,209,1) 100%);
    width: 100%;
    height: 100%;
}
footer{
    color: deeppink;
}

/*de nav*/
nav{
    width: 50vw;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    color: #000000;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #789fd6;
    list-style: none;
}

nav ul li{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99a1e1;
}

nav ul li a{
    width: 100px;
    height: 50px;
    background-color: #5c6092;
    text-align: center;
    text-decoration: none;
    color: #ffff;
}

.Link:hover{
    color: #7CE9FE;
}

/*images*/
.image{
    height: 90%;
    width: 30%;
}

.image2{
    height: 875px;
    width: 100%;
}

/*tekst*/
.tekst{
    color: #1A946F;
    font-size: 40px;
    position:absolute;
}

.tekst2{
    color: rgb(173,239,209);
    color: linear-gradient(110deg, rgba(173,239,209,1) 0%, rgba(0,32,63,1) 56%, rgba(0,32,63,1) 100%);
    font-size: 20px;
}

.ImageTekst{
    display: flex;
    flex-direction: column;
}
.whiteline{
    height: 50px;
}

/*de div's*/
.container{
    height: 50%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0px; 
}

.container2{
    height: 50%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
}