* {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}

/*main parts of the website*/
body {
    background-color: #191970;
}

header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00759C;
    position: absolute;
    top: 0px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.productenMain {
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, rgba(189, 204, 83, 1) 0%, rgba(4, 106, 62, 1) 53%, rgba(0, 115, 121, 1) 100%);
}

.overmij {
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: row;
}

.bodyovermij {
    background: rgb(0, 32, 63);
    background: linear-gradient(110deg, rgba(0, 32, 63, 1) 0%, rgba(0, 32, 63, 1) 48%, rgba(173, 239, 209, 1) 100%);
    width: 100%;
    height: 100%;
}

/*de nav*/
nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #000000;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    list-style: none;
}

nav ul li {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li a {
    width: 100px;
    height: 50px;
    background-color: #fd1d1d;
    text-align: center;
    text-decoration: none;
    color: #ffff;
    border-radius: 7px;
}

.Link:hover {
    color: #7CE9FE;
    border-style: ridge;
}

/*images*/
.image {
    height: 45%;
    width: 20%;
    position: absolute;
    left: 0px;
}

.image2 {
    height: 875px;
    width: 100%;
}

/*tekst*/
.tekst {
    color: #1A946F;
    font-size: 40px;
    position: absolute;
}

.tekst2 {
    font-size: 22px;
    color: aqua;
}

.productenTekst {
    color: gray;
    font-size: 20px;
}

.productenTekstV {
    font-size: 20px;
    color: #000000;
}

.ImageTekst {
    display: flex;
    flex-direction: column;
}

.whiteline {
    height: 50px;
}

.whiteline2 {
    height: 55px;
}

.whiteline3 {
    height: 35px;
}

/*de div's*/
.container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container2 {
    height: 50%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.imageseperate {
    padding-bottom: 4%;
}

form {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    height: 725px;
    background-color: white;
    padding: 10px;
}